@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  background-size: 210%;
  background-image: linear-gradient(
    50deg,
    rgb(23 37 84) 0%,
    rgb(96 165 250) 100%
  );
  animation: rotateBg 18s infinite 0s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes titleAppear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes rotateBg {
  0%,
  100% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
}
