@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-size: 210%;
  background-image: linear-gradient(
    50deg,
    rgb(23 37 84) 0%,
    rgb(96 165 250) 100%
  );
  animation: rotateBg 18s infinite 0s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes titleAppear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes rotateBg {
  0%,
  100% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
}
